<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app class="ma-0 pa-0">
      <div v-if="logState==false">
        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
              <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
              <form ref="form" @submit.prevent="login()">
                    <v-text-field
                    v-model="username"
                    label="Username"
                    type="text"
                    required></v-text-field>
                    <v-text-field
                    v-model="password"
                    name="password"
                    label="Password"
                    type="password"
                    placeholder="password"
                    required></v-text-field>
                  <v-btn type="submit" class="mt-4" color="primary" value="log-in">Login</v-btn>
                </form>
              </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
      <div v-else>
        <v-container fluid class="d-flex flex-row ma-0 pa-0">
          <v-navigation-drawer permanent expand-on-hover height="100vh">
            <template v-slot:prepend>
              <v-list-item two-line>
                <v-list-item-avatar rounded="false">
                  <v-img :src="player.img"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title class="text-h6">
                    {{player.username}}
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    <v-btn @click="login()" block small>login</v-btn>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>

          <v-divider></v-divider>

          <v-list nav dense>
            <v-list-item>
              <v-list-item-icon>
                <v-icon>{{player.score}}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Score</v-list-item-title>
            </v-list-item>
            <v-list-item link @click="changingIcon = !changingIcon">
              <v-list-item-icon>
                <v-icon>mdi-camera-burst</v-icon>
              </v-list-item-icon>
              <v-list-item-title>change icon</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="changingIcon">
              <v-text-field
              type="number"
              v-model="iconID"
              label="Enter pokemon ID"
              v-on:keyup.enter="changeIcon"
              >
              </v-text-field>
            </v-list-item>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>

          <v-container fluid class="ma-0 pa-0 d-flex flex-column">
            <v-container fluid class="ma-3 pa-3 d-flex flex-row justify-center">
              <v-container class="d-flex flex-row fill-height">
                <v-select
                :items="types"
                label="type"
                item-text="nom"
                item-value="nom"
                v-model="typeselect"
                v-on:change="getByType"
                class="ma-3 pa-0"></v-select>
              </v-container>
              <v-container class="d-flex flex-row justify-end">
                <v-switch inset label="Mode sombre" :value="darkMode" color="white" @change="toggleDarkMode"></v-switch>
                <v-switch inset class="mx-2" label="Jeu" :value="gameMode" color="red" @change="toggleGameMode"></v-switch>
              </v-container>
            </v-container>
            <v-text-field
                  class="ml-4 my-0 pa-0 justify-center"
                  style="width: 20%;"
                  v-if="gameMode"
                  v-model="message"
                  :append-outer-icon="message ? 'mdi-send' : ''"
                  clear-icon="mdi-close-circle"
                  clearable
                  label="Devine les pokémons !"
                  type="text"
                  v-on:keyup.enter="sendMessage"
                  @click:append-outer="sendMessage"
                  @click:clear="clearMessage">
            </v-text-field>
            <v-container fluid class="ma-0 pa-0 d-flex flex-wrap justify-center">
              <carte-pokemon v-for="elt in pokemonsAffiches" :pokemon="elt" :img="getImgUrl(elt.image)"></carte-pokemon>
              <carte-pokegame v-for="elt in pokemonsVidesAffiches" :pokemon="elt" :img="getImgUrl(elt.image)"></carte-pokegame>
            </v-container>
          </v-container>
        </v-container>
        <v-pagination class="mt-10" @input="majPage()" v-model="page" :length="nbPages" circle></v-pagination>
      </div>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="js/pokemon.js"></script>
  <script src="js/pokegame.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script language="javascript">
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data:{
        typeselect:"all",
        message: '',
        types: [],
        pokemons:[],
        pokemonsAffiches:[],
        pokemonsVidesAffiches:[],

        page:1,
        page1: 0,
        nbPages:9,
        iconID:1,

        gameMode: false,
        changingIcon: false,
        darkMode: false,

        logState: false,
        initState: true,
        username: 'username',
        activeUser: 'username',
        password: 'password',
        activePassword: 'password',
        player: [],
      },
      created:function(){
        this.getTypes();
        this.getPokemons();
        this.login();
      },
      methods:{
        getPokemons:function(){
          let self = this;
          axios.get("/pokemons/all").then(function(reponse){
            self.pokemons = reponse.data;
            for (let i = 0; i<18; i++){
              self.pokemonsAffiches.push(reponse.data[i])
            }
          });
        },
        getImgUrl(pokeimg) {
          return "./images/"+pokeimg;
        },
        getTypes:function(){
          let self = this;
          axios.get("/types").then(function(reponse){
            self.types = reponse.data;
            self.types.unshift('All');
          })
        },
        getByType:function(){
          let self = this;
          console.log(this.typeselect);
          axios.get("/pokemons/"+this.typeselect).then(function(reponse){
            self.pokemons = reponse.data;
            self.page = 1;
            self.majPage();
          })
        },
        sendMessage: function(){
          for (let i = 0 ; i<this.pokemonsVidesAffiches.length ; i++){
          if (this.message.toLowerCase() == this.strNoAccent(this.pokemonsVidesAffiches[i]["nom"]).toLowerCase()){
            this.addScore();
            this.pokemonsAffiches.push(this.pokemonsVidesAffiches[i]);
            this.pokemonsAffiches.sort(function (x, y) {
              return x.id - y.id;
            });
            this.pokemonsVidesAffiches.splice(i, 1);
          }
          }
          this.clearMessage();
        },
        clearMessage: function(){
          this.message = '';
        },
        toggleDarkMode: function () {
          this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
          this.darkMode = !this.darkMode;
        },
        toggleGameMode: function() {
          this.gameMode = !this.gameMode;
          if (this.gameMode == true){
            this.pokemonsVidesAffiches = this.pokemonsAffiches;
            this.pokemonsAffiches = [];
          }
          else{
            this.pokemonsVidesAffiches = []
            this.pokemonsAffiches = []
            this.getPokemons()
            this.nbPages = 9
            this.typeselect = "all"
          }
        },
        majPage: function (){
          this.page1 = this.page;
          this.page1--;
          this.pokemonsAffiches.length = 0;
          for (let i = 18*this.page1; i < 18 + 18*this.page1 && i<this.pokemons.length; i++) {
              this.pokemonsAffiches.push(this.pokemons[i]);
          }
          if (this.gameMode == true){
            this.pokemonsVidesAffiches = this.pokemonsAffiches;
            this.pokemonsAffiches = [];
          }
          this.nbPages = Math.ceil(this.pokemons.length / 18);
        },
        strNoAccent: function(a) {
          var b="áàâäãåçéèêëíïîìñóòôöõúùûüýÁÀÂÄÃÅÇÉÈÊËÍÏÎÌÑÓÒÔÖÕÚÙÛÜÝ";
          c="aaaaaaceeeeiiiinooooouuuuyAAAAAACEEEEIIIINOOOOOUUUUY";
          d="";
          for(var i = 0, j = a.length; i < j; i++) {
            var e = a.substr(i, 1);
            d += (b.indexOf(e) !== -1) ? c.substr(b.indexOf(e), 1) : e;
          }
          return d;
        },
        addScore: function() {
          let self = this;
          axios.get("/score/"+this.activeUser).then(function(reponse){
            self.player = reponse.data;
          });
        },
        login: function() {
          let self = this;
          this.activePassword = this.password;
          this.activeUser = this.username;
          this.password = '';
          this.username = '';
          axios.get("/login/"+this.activeUser+"&"+this.activePassword).then(function(reponse){
            self.player = reponse.data;
          });
          this.logState = !this.logState;
        },
        changeIcon: function() {
          let self = this;
          let newUrl = "";
          if (this.iconID > 0 && this.iconID < 10) {
            newUrl = "00"+this.iconID+".png";
          }
          else if (this.iconID > 9 && this.iconID < 100) {
            newUrl = "0"+this.iconID+".png";
          }
          else if (this.iconID > 99 && this.iconID < 152) {
            newUrl = ""+this.iconID+".png";
          }
          axios.get("/img/"+this.activeUser+"&"+newUrl).then(function(reponse){
            this.player = reponse.data;
          });
          axios.get("/login/"+this.activeUser+"&"+this.activePassword).then(function(reponse){
            self.player = reponse.data;
            console.log(this.player.img);
          });
        },
        iconchanging: function() {
          this.changeIcon = !this.changeIcon;
        }
      },
      components:{
        'carte-pokemon':cartePokemon,
        'carte-pokegame':cartePokegame,
      }
      });
  </script>
</body>
</html>
